{% extends "base.html" %}
{% block content %}
<p>
In this page we show activities that are detected as anomalous by the <a href="https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.LocalOutlierFactor.html">Local Outlier Factor</a> algorithm. The features used for this unsupervised learning algorithm are:
<ul>
    <li>Distance (metres)</li>
    <li>Moving Time (seconds)</li>
    <li>Total Elevation Gain metres</li>
    <li>Minutes per Kilometre</li>
    <li>Minutes per Kilometre (adjusted for weather conditions)</li>
    <li>Temperature</li>
    <li>Humidity</li>
</ul>
You can use the sort feature on the table below to find activities that are very short, for example.
</p>

<h2>Anomalous Activities</h2>
<table id="example" class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-nowrap">Activity Name</th>
      <th scope="col" class="text-nowrap">Type</th>
      <th scope="col" class="text-nowrap">Distance</th>
      <th scope="col" class="text-nowrap">Time</th>
      <th scope="col" class="text-nowrap">Temperature (°F)</th>
      <th scope="col" class="text-nowrap">Humidity</th>
      <th scope="col" class="text-nowrap">Pace (mins/km)</th>
      <th scope="col" class="text-nowrap">Adjusted Pace (mins/km)</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
        <th scope="row"> {{ loop.index }} </th>
        <td> <a href="https://www.strava.com/activities/{{ post.id }}">{{ post.name }}</a> </td>
        <td> {{ post.workout_type }} </td>
        <td> {{ (post.distance_metres / 1000) | round(2, 'common') }}km </td>
        <td> {{ post.moving_time }} </td>
        <td> {{ post.temperature }} </td>
        <td> {{ post.humidity }} </td>
        <td> {{ post.minutes_per_km | round(2, 'common') }} </td>
        <td> {{ post.minutes_per_km_adjusted | round(2, 'common') }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
