{% extends "base.html" %}
{% block content %}
<p>
This page shows your estimated VDOT value based on activities that are marked as races. <a href="https://en.wikipedia.org/wiki/Jack_Daniels_(coach)#VDOT">VDOT</a> is an estimate of overall fitness and can be used to calculate equivalent performances and recommended training paces. The shaded section of the table below shows the estimated equivalent performances for other distances for each race.
</p>

<h2>Races</h2>
<table id="example" class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-nowrap">Activity Name</th>
      <th scope="col" class="text-nowrap">Distance </th>
      <th scope="col" class="text-nowrap">Moving Time</th>
      <th scope="col" class="text-nowrap">Pace (mins/km)</th>
      <th scope="col" class="text-nowrap">VDOT</th>
      <th scope="col" class="text-nowrap" style="background-color:#cbd5db">Marathon</th>
      <th scope="col" class="text-nowrap" style="background-color:#cbd5db">Half-Marathon</th>
      <th scope="col" class="text-nowrap" style="background-color:#cbd5db">10K</th>
      <th scope="col" class="text-nowrap" style="background-color:#cbd5db">5K</th>
      <th scope="col" class="text-nowrap" style="background-color:#cbd5db">1 Mile</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr data-toggle="collapse" data-target="#accordion" class="clickable">
        <th scope="row"> {{ loop.index }} </th>
        <td> <a href="https://www.strava.com/activities/{{ post.id }}">{{ post.name }}</a> </td>
        <td> {{ (post.distance_metres / 1000) | round(2, 'common') }}km </td>
        <td> {{ post.moving_time }} </td>
        <td> {{ post.minutes_per_km | round(2, 'common') }} </td>
        <td> {{ post.vdot }} </td>
        {% for equiv in post.equivs %}
            {% if equiv.distance == "Marathon" %}
                <td style="background-color:#cbd5db">
                     {{equiv.time}}
                </td>
            {% endif %}
            {% if equiv.distance == "Half marathon" %}
                <td style="background-color:#cbd5db">
                     {{equiv.time}}
                </td>
            {% endif %}
            {% if equiv.distance == "10K" %}
                <td style="background-color:#cbd5db">
                     {{equiv.time}}
                </td>
            {% endif %}
            {% if equiv.distance == "5K" %}
                <td style="background-color:#cbd5db">
                     {{equiv.time}}
                </td>
            {% endif %}
            {% if equiv.distance == "1Mi" %}
                <td style="background-color:#cbd5db">
                     {{equiv.time}}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
